
.user {
    width: 35%;
    border: 1px solid rgb(55, 0, 255);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#form {
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 25px;
}

input,select {
    margin-bottom: 13px;
}

